#ST_Download,
#ST_Upload,
#ST_Ping {
  width: 200px;
  height: 145px;
}

#ST_Contener {
  line-height: 15px;
}

#ST_Data {
  font-size: small;
  margin-top: 10px;
}

#ST_ISP,
#ST_Server,
#ST_Location,
#ST_Name {
  display:flex;
}

#ST_ISP_MARK,
#ST_Server_MARK,
#ST_Location_MARK,
#ST_Name_MARK {
  text-align: left;
  margin-right: 5px;
}

#ST_LastTest.date {
  font-size: 10px;
  line-height: 16px;
  color: #333;
  text-align: right;
}

#ST_Data.hidden {
  display:none;
}
